body {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enigma {
  border-radius: 20px;
  padding: 20px;
  width: 800px;
}

h1 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


textarea, input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: none;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.option {
  width: 48%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #fce4ec;
  color: #f11313;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #89b4ca;
}
.result-container {
  text-align: center;
}

.generated-link {
  word-break: break-all;
  background-color: #857e7e;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

.qr-code {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.home-icon {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .enigma {
    width: 90%;
    max-width: 300px;
  }
}
.secret-retrieval, .secret-display {
  background-color: var(--card-bg-color);
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.secret-retrieval form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.secret-retrieval input,
.secret-retrieval button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
}

.secret-retrieval button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle:hover {
  opacity: 0.8;
}